.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  @media screen and (min-width:992px) {
      h1{
          color:#12d54d;
          font-family: Arial, Helvetica, sans-serif;
         text-align: center;
      }
      .col-md-4{
        width: 31.333%;
        border: black solid 1px;
        margin: 0 0.5% 0 0.5%;
        float: left;
        background-color: aqua;
        font-family: Arial, Helvetica, sans-serif;
      }  
      div.container div.row:nth-child(1) div.section1{
      background-color: #ff0000;
      margin:0 0 0 250px; 
      }
      div.container div.row:nth-child(2) div.section2{
        background-color: #ff7300;
      margin:0 0 0 250px;
        }
      div.container div.row:nth-child(3) div.section3{
        background-color: #88ff00;
      margin:0 0 0 250px;
      }
  }
  @media screen and (min-width:769px) and (max-width:992px){
      h1{
          color:#888888;
          font-family: Arial, Helvetica, sans-serif;
          text-align: center;
      }
      div.container div.row:nth-child(1)  div.col-md-4{
        width: 49%;
        border: black solid 1px;
        margin: 0 4px 0 4px ;
        float: left;
        background-color: aqua;
        font-family: Arial, Helvetica, sans-serif;
      }
      div.container div.row:nth-child(2) div.col-md-4{
        width: 49%;
        border: black solid 1px;
        margin: 0 4px 0 4px;
        float: left;
        background-color: aqua;
        font-family: Arial, Helvetica, sans-serif;
      }
      div.container div.row:nth-child(3) div.col-md-4{
        width: 100%;
        border: black solid 1px;
        margin: 4px auto;
        float: left;
        background-color: aqua;
        font-family: Arial, Helvetica, sans-serif;
      }
      div.container div.row:nth-child(1) div.section1{
      background-color: #008cff;
      margin:0 0 0 410px; 
      }
      div.container div.row:nth-child(2) div.section2{
        background-color: #f200ff;
      margin:0 0 0 410px;
        }
      div.container div.row:nth-child(3) div.section3{
        background-color: #00ff2a;
      margin:0 0 0 900px;
      }
    }
   
    @media screen and (max-width: 768px) {
      h1 {
        color: #ff4500;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
      }
    
      .col-md-4 {
        width: 100%;
        border: black solid 1px;
        margin: 4px auto;
        background-color: aqua;
        font-family: Arial, Helvetica, sans-serif;
      }
    } 