div#div1{
    background-color: aqua;
}
div#div2{
    background-color: rgb(195, 255, 0);
}
div#div3{
    background-color: rgb(98, 0, 255);
}
div#div4{
    background-color: rgb(255, 170, 0);
}
h4{
    width: 150px;
    background-color: bisque;
}